@import "tailwindcss";
@import "highlight.js/styles/atom-one-dark-reasonable.css";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.prose pre {
  white-space: pre-wrap;       /* CSS3 */
  white-space: -moz-pre-wrap;  /* Firefox */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* IE 5.5+ */
  overflow-x: auto;
  border-radius: 0.375rem; /* rounded-md */
}

.prose ul {
  list-style-type: disc;
  margin-left: 1.25em; /* Equivalent to pl-5 */
}

.prose ol {
  list-style-type: decimal;
  margin-left: 1.25em; /* Equivalent to pl-5 */
}

.prose li {
  margin-bottom: 0.25em; /* Small space between list items */
}

.loading-dot {
  opacity: 0;
  animation: pulse-dot 1.4s infinite ease-in-out both;
}

.loading-dot:nth-child(1) {
  animation-delay: 0s;
}

.loading-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes pulse-dot {
  0%, 80%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
